<h2 mat-dialog-title>
  Formulario de Proyectos
  <button mat-icon-button (click)="onClose()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form" style="height: auto;">
  <mat-dialog-content>
    <!-- Nombre del Proyecto -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Nombre del Proyecto</mat-label>
      <input
        matInput
        formControlName="project_name"
        required
        placeholder="Ingresa el nombre del proyecto"
      />
    </mat-form-field>

    <!-- Presupuesto -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Presupuesto</mat-label>
      <input
        matInput
        formControlName="project_budget"
        type="number"
        step="0.01"
        required
        placeholder="Ingresa el presupuesto del proyecto"
      />
    </mat-form-field>

    <!-- Cliente (Selector) -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="project_client" required>
        <mat-option *ngFor="let client of clientes" [value]="client.client_id">{{ client.client_name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Responsable (Selector) -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label>Responsable del Proyecto</mat-label>
      <mat-select formControlName="project_responsible" required>
        <mat-option *ngFor="let responsible of responsables" [value]="responsible.responsible_id">
          {{ responsible.responsible_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onClose()">Cancelar</button>
    <button mat-button color="primary" type="submit" [disabled]="form.invalid">
      Guardar
    </button>
  </mat-dialog-actions>
</form>
