<h2 mat-dialog-title class="dialog-header">
  Add Project Form
  <button mat-icon-button (click)="onClose()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form" style="height: auto;" class="form-container">
  <mat-dialog-content>
    <!-- Nombre del Proyecto -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Project Title</mat-label>
      <input
        matInput
        formControlName="project_name"
        required
        placeholder="Project Title"
      />
    </mat-form-field>

    <!-- Presupuesto -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Budget</mat-label>
      <input
        matInput
        formControlName="project_budget"
        type="number"
        step="0.01"
        required
        placeholder="Project Budget"
      />
    </mat-form-field>

    <!-- Cliente (Selector) -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Customer</mat-label>
      <mat-select formControlName="project_client" required>
        <mat-option *ngFor="let client of clientes" [value]="client.client_id">{{ client.client_name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Responsable (Selector) -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Project Responsible</mat-label>
      <mat-select formControlName="project_responsible" required>
        <mat-option *ngFor="let responsible of responsables" [value]="responsible.responsible_id">
          {{ responsible.responsible_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="button-container">
    <button mat-raised-button color="primary" class="action-button" type="submit" [disabled]="form.invalid">
      Save
    </button>
    <button mat-raised-button color="warn" class="action-button" style="margin-left: 0px;" (click)="onClose()">Cancel</button>
  </mat-dialog-actions>
</form>
