<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Gestión Ofertas</h1>
    </div>
    <form (ngSubmit)="onLogin()">
      <div class="login-form">
        <div class="control-group">
          <input
            type="text"
            class="login-field"
            [(ngModel)]="username"
            name="username"
            placeholder="username"
            id="login-name"
            required
          >
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="control-group">
          <input
            type="password"
            class="login-field"
            [(ngModel)]="password"
            name="password"
            placeholder="password"
            id="login-pass"
            required
          >
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <button type="submit" class="btn btn-primary btn-large btn-block">Login</button>
      </div>
    </form>
  </div>
</div>
