<app-navbar></app-navbar>  <!-- Barra de navegación -->

<div class="content" style="width: 100%; height: 100%;">
  <app-component-name title="Projects" buttonLabel="Add Project" (buttonClick)="openModal()"></app-component-name>

  <app-ag-grid-table
    style="width: 100%; height: 400px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    (rowSelected)="onRowSelected($event)"
    >
  </app-ag-grid-table>

  <div *ngIf="selectedRow" style="margin-top: 20px; padding: 10px;">
    <mat-tab-group mat-aling-tabs="start" class="mx-5 alternate-theme">
      <!-- Pestaña de Información -->
      <mat-tab label="Information">

        <form *ngIf="selectedRow" (ngSubmit)="updateProjectInfo()">
          <div class="form-grid" >
          <!-- Project Name -->
          <div class="form-field">
            <label for="project_name">Project Name:</label>
            <input
              id="project_name"
              name="project_name"
              [(ngModel)]="selectedRow.project_name"
              required
            />
          </div>

          <!-- Project Budget -->
          <div class="form-field">
            <label for="project_budget">Project Budget:</label>
            <input
              id="project_budget"
              name="project_budget"
              [(ngModel)]="selectedRow.project_budget"
              type="number"
              step="0.01"
              required
            />
          </div>

          <!-- Project Client -->
          <div class="form-field">
            <label for="project_client">Project Client:</label>
            <input
              id="project_client"
              name="project_client"
              [(ngModel)]="selectedRow.client_name"
              required
            />
          </div>

          <!-- Project Responsible -->
          <div class="form-field">
            <label for="project_responsible">Project Responsible:</label>
            <input
              id="project_responsible"
              name="project_responsible"
              [(ngModel)]="selectedRow.responsible_name"
              required
            />
          </div>
        </div>
          <!-- Botones de Update y Delete -->
          <div class="button-container">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="small-button"
            >
              Update
            </button>
            <button mat-raised-button color="warn" class="small-button" (click)="deleteProject()">Delete</button>
          </div>
        </form>
       </mat-tab>

      <!-- Pestaña de Más Información -->
      <mat-tab label="More Information">
        <p style="margin-left: 20px;">More Information</p>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
