
mat-tab-group {
  background-color: #f0f0f0; /* Color de fondo del contenedor de las pestañas */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Estilo de las etiquetas de las pestañas */
.mat-tab-label {
  background-color: #007bff; /* Fondo de las pestañas */
  color: white; /* Color del texto */
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px 4px 0 0; /* Bordes redondeados solo en la parte superior */
  transition: background-color 0.3s ease;
}

/* Estilo para la pestaña activa (cuando se selecciona) */
.mat-tab-label.mat-tab-label-active {
  background-color: #0056b3; /* Fondo más oscuro para la pestaña activa */
}

/* Quitar la barra debajo de las pestañas */
.mat-tab-group .mat-ink-bar {
  display: none;
  border-bottom: 0; /* Ocultamos la barra predeterminada */
}

/* Estilo cuando la pestaña es seleccionada */
.mat-tab-label-active {
  font-weight: bold;
}

/* Estilo para el formulario */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin: 15px;

}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-field input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.form-field input:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo de los botones */
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
  min-width: 120px;
}

button[mat-raised-button][color="primary"] {
  background-color: #007bff;
  color: white;
}

button[mat-raised-button][color="primary"]:hover {
  background-color: #0056b3;
}

button[mat-raised-button][color="warn"] {
  background-color: #e74c3c;
  color: white;
}

button[mat-raised-button][color="warn"]:hover {
  background-color: #c0392b;
}

/* Estilo adicional para los inputs de número */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mat-tab-header, .mat-tab-nav-bar {
  border-bottom: 0;
}
