<h2 mat-dialog-title class="modal-title">
  Add Offer Form
  <button
    mat-icon-button
    (click)="onClose()"
    class="close-button"
    aria-label="Close"
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form" style="height: 600px;">
  <mat-dialog-content>
    <!-- Offer Title -->
    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 20px;">
      <mat-label style="font-size: 16px;">Offer Title</mat-label>
      <input
        matInput
        formControlName="offer_title"
        required
        style="font-size: 16px; padding: 15px 10px;"
      />
    </mat-form-field>

    <!-- Row 1: Offer Amount and Offer Reference -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label style="font-size: 16px;">Offer Amount</mat-label>
        <input
          matInput
          formControlName="offer_amount"
          type="number"
          step="0.01"
          required
          style="font-size: 16px; padding: 15px 10px;"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label style="font-size: 16px;">Offer Reference</mat-label>
        <input
          matInput
          formControlName="offer_reference"
          required
          style="font-size: 16px; padding: 15px 10px;"
        />
      </mat-form-field>
    </div>

    <!-- Row 2: Offer Client and Offer Project -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label style="font-size: 16px;">Customer</mat-label>
        <mat-select
          formControlName="offer_client"
          required
          style="font-size: 16px;"
        >
          <mat-option *ngFor="let client of clients" [value]="client.client_id">
            {{ client.client_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label style="font-size: 16px;">Project</mat-label>
        <mat-select
          formControlName="offer_project"
          required
          style="font-size: 16px;"
        >
          <mat-option *ngFor="let project of projects" [value]="project.project_id">
            {{ project.project_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Responsible</mat-label>
        <mat-select formControlName="offer_responsible" required
        style="font-size: 16px;">
          <mat-option *ngFor="let responsible of responsibles" [value]="responsible.responsible_id">
            {{ responsible.responsible_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Company</mat-label>
        <mat-select formControlName="offer_company" required
        style="font-size: 16px;">
          <mat-option *ngFor="let company of companies" [value]="company.company_id">
            {{ company.company_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="button-container">
    <button mat-raised-button color="primary" class="action-button" type="submit" [disabled]="form.invalid">Save</button>
    <button mat-raised-button color="warn" class="action-button" style="margin-left: 0px;" (click)="onClose()">Cancel</button>
  </mat-dialog-actions>
</form>
