
.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  margin-left: auto;
}

mat-dialog-content {
  max-height: 500px;
  overflow: auto;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espaciado entre los inputs */
  margin-bottom: 20px;
}

.half-width {
  width: 48%; /* Cada input ocupa la mitad del contenedor */
}
.button-container {
  display: flex;
  flex-direction: column; /* Alinea los botones verticalmente */
  gap: 10px; /* Espaciado entre los botones */
  margin-top: 20px;
}

.action-button {
  width: 80%; /* Botones ocupan todo el ancho */
}
