<app-navbar></app-navbar>  <!-- Barra de navegación -->

<div class="content" style="width: 100%; height: 100%;">
  <app-component-name title="Responsible" buttonLabel="Add Responsible" (buttonClick)="openModal()"></app-component-name>

  <!-- Tabla de Responsables -->
  <app-ag-grid-table
    style="width: 100%; height: 400px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    (rowSelected)="onRowSelected($event)">
  </app-ag-grid-table>

  <!-- Si hay un responsable seleccionado -->
  <div *ngIf="selectedRow" style="margin-top: 20px;">
    <mat-tab-group>
      <!-- Tab de Información -->
      <mat-tab label="Information">
        <form *ngIf="selectedRow" (ngSubmit)="updateResponsibleInfo()">
          <!-- Nombre del Responsable -->
          <div  class="form-grid">
            <div class="form-field">
              <label for="responsible_name">Responsible Name:</label>
              <input id="responsible_name" name="responsible_name" [(ngModel)]="selectedRow.responsible_name" required />
            </div>

            <!-- Username del Responsable -->
            <div class="form-field">
              <label for="responsible_username">Username:</label>
              <input id="responsible_username" name="responsible_username" [(ngModel)]="selectedRow.responsible_username" required />
            </div>
          </div>
          <!-- Botones de Update y Delete -->
          <div class="button-container">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="small-button"
            >
              Update
            </button>
            <button
              mat-raised-button
              color="warn"
              class="small-button"
              (click)="deleteResponsible()"
            >
              Delete
            </button>
          </div>
        </form>
      </mat-tab>

      <!-- Tab de Más Información -->
      <mat-tab label="More Information">
        <p style="margin-left: 20px;">More Information</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
