<app-navbar></app-navbar>

<div class="content" style="width: 100%; height: 100%;">
  <app-component-name title="Customers" buttonLabel="Add Customers" (buttonClick)="openModal()"></app-component-name>
  <app-ag-grid-table
    style="width: 100%; height: 400px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    (rowSelected)="onRowSelected($event)">
  </app-ag-grid-table>

  <div *ngIf="selectedRow" style="margin-top: 20px;">
    <mat-tab-group>
      <!-- Tab de Información -->
      <mat-tab label="Information">
        <form *ngIf="selectedRow" class="form-grid" (ngSubmit)="updateClientInfo()">
          <!-- Nombre del Cliente -->
          <div class="form-field">
            <label for="client_name">Customer Name:</label>
            <input id="client_name" name="client_name" [(ngModel)]="selectedRow.client_name" required />
          </div>

          <!-- Username del Cliente -->
          <div class="form-field">
            <label for="client_reference">Customer Reference:</label>
            <input id="client_reference" name="client_reference" [(ngModel)]="selectedRow.client_reference" required />
          </div>

          <!-- Botones de Update y Delete -->
          <div class="form-field form-actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!selectedRow.client_name || !selectedRow.client_reference"
            >
              Update
            </button>
            <button mat-raised-button color="warn" (click)="deleteClient()">Delete</button>
          </div>
        </form>
      </mat-tab>

      <!-- Tab de Más Información -->
      <mat-tab label="More Information">
        <p>Más información a implementar</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
