<h2 mat-dialog-title class="dialog-header">
  Add Customer Form
  <button mat-icon-button (click)="onClose()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-container">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Customer Name</mat-label>
      <input matInput formControlName="client_name" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Reference</mat-label>
      <input matInput formControlName="client_reference" required />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="button-container">
    <button mat-raised-button color="primary" class="action-button" type="submit" [disabled]="form.invalid">Guardar</button>
    <button mat-raised-button color="warn" class="action-button" (click)="onClose()">Cancelar</button>
  </mat-dialog-actions>
</form>
