<app-navbar></app-navbar>  <!-- Barra de navegación -->

<div class="content" style="width: 100%; height: 100%;">
  <app-component-name title="Companies"  buttonLabel="Add Company" (buttonClick)="openModal()"></app-component-name>

  <app-ag-grid-table
    style="width: 100%; height: 400px;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    (rowSelected)="onRowSelected($event)"
  >
  </app-ag-grid-table>

  <div *ngIf="selectedRow" style="margin-top: 20px;">
    <mat-tab-group>
      <mat-tab label="Information">
        <form *ngIf="selectedRow"  (ngSubmit)="updateCompanyInfo()">
          <div class="form-grid">
            <div class="form-field">
              <label for="company_name">Company Name:</label>
              <input id="company_name" name="company_name" [(ngModel)]="selectedRow.company_name" required />
            </div>
            <div class="form-field">
              <label for="company_address">Company Address:</label>
              <input id="company_address" name="company_address" [(ngModel)]="selectedRow.company_address" required />
            </div>
            <div class="form-field">
              <label for="company_reference">Company Reference:</label>
              <input id="company_reference" name="company_reference" [(ngModel)]="selectedRow.company_reference" required />
            </div>
          </div>
          <!-- Botones de Update y Delete -->
          <div class="button-container">
            <button mat-raised-button color="primary" class="small-button" type="submit" [disabled]="!selectedRow.company_name || !selectedRow.company_address || !selectedRow.company_reference">
              Update
            </button>
            <button mat-raised-button class="small-button" color="warn" (click)="deleteCompany()">Delete</button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="More information">
        <p style="margin-left: 20px;">More Information</p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
