<h2 mat-dialog-title class="dialog-header">
  Add Responsible Form
  <button mat-icon-button (click)="onClose()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-container">
  <mat-dialog-content>
    <!-- Selector de Usuario -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Select User</mat-label>
      <mat-select formControlName="responsible_user" (selectionChange)="onUserSelect($event)">
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.username }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Nombre del Responsable, deshabilitado -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Responsible Name</mat-label>
      <input matInput formControlName="responsible_name" [value]="responsibleName" [disabled]="true" />
    </mat-form-field>

    <!-- Nombre de Usuario, deshabilitado -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="responsible_username" [value]="responsibleUsername" [disabled]="true" />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="button-container">
    <button mat-raised-button color="primary" class="action-button" type="submit" [disabled]="form.invalid">Guardar</button>
    <button mat-raised-button color="warn" class="action-button" (click)="onClose()">Cancelar</button>
  </mat-dialog-actions>
</form>
