<h2 mat-dialog-title class="dialog-header">
  Add Responsible Form
  <button mat-icon-button (click)="onClose()" class="close-button" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-container">
  <mat-dialog-content class="content-container">
    <!-- Responsible User ID -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>ID del Usuario Responsable</mat-label>
      <input matInput formControlName="responsible_user_id" type="number" required />
    </mat-form-field>

    <!-- Responsible Name -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nombre del Responsable</mat-label>
      <input matInput formControlName="responsible_name" required />
    </mat-form-field>

    <!-- Responsible Username -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Username del Responsable</mat-label>
      <input matInput formControlName="responsible_username" required />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="button-container">
    <button mat-raised-button color="primary" class="action-button" type="submit" [disabled]="form.invalid">Guardar</button>
    <button mat-raised-button color="warn" class="action-button" (click)="onClose()">Cancelar</button>
  </mat-dialog-actions>
</form>
